@font-face {
    font-family: 'Norse';
    src: url('font/Norse-Bold.woff2') format('woff2'),
        url('font/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
}

h1 {
    font-weight: 500;
}

h1.norse {
    font-family: 'Norse', sans-serif;
    font-size: 5rem;
    color: white;
}

.background {
    position: relative;
    width: 35vw;
    height: 100vh;
    flex-shrink: 0;
}

.background_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.background .banner {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5.5rem;
    width: 100%;
    padding: .5rem 0 .5rem;
    left: 0;
    top: 10rem;
    background-color: rgba(0, 0, 0, 0.374);
}

.banner img {
    height: 100%;
}

.credit {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    margin-bottom: 5px;
}

a, .credit {
    color: rgb(207, 207, 207);
    font-size: .9rem;
    font-weight: 500;
}

.main {
    background-color: #f9fafb;
    width: 100%;
}

.main h1 {
    font-size: 1.3rem;
    font-weight: 500;
}

.speach {
    margin-top: 7rem;
    padding-left: 2rem;
}

.speach h1{
    margin: 0;
}

.speach + h1 {
    padding-left: 2rem;
    padding-bottom: 1.7rem;
}

#signup_form {
    background-color: white;
    padding: .1rem 2rem 2rem 2rem;
}

.form_control {
    display: inline-flex;
    flex-direction: column;
    padding-right: 3rem;
}

.form_row:not(:last-child) {
    padding-bottom: 1rem;
}

label {
    font-size: .75rem;
    font-weight: 500;
    padding-bottom: .1rem;
}

.cto {
    padding-top: 2rem;
    padding-left: 2rem;
}

form {
    box-shadow: 3px 3px 5px rgb(206, 206, 206);
}

input {
    border: solid 1px #E5E7EB;

}

input:focus {
    border: solid 1px blue;
    box-shadow: 3px 3px 5px rgb(206, 206, 206);
}

input[type='password']:invalid {
    border: solid 1px red;
}

button {
    background-color: #596D48;
    color: white;
    font-weight: 600;
    padding: .5rem 2.5rem;
    border-radius: 7px;
    margin-bottom: .6rem;
}

.cto p {
    font-weight: 500;
}

.cto span {
    color: #596D48;
}